<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Equipo Pokemon!</title>
    <script src="guardar.js" defer></script>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"
        defer></script>

    <script src="/static/guardar.js" defer></script>

</head>

<body>

    <nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: #89CFF0;">
    <div class="container-fluid">
        <div class="collapse navbar-collapse d-flex justify-content-center" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Sin Token</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/con_token/">Con Token</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/guardar/">Guardar Persona</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
    <div class="formulario-container d-flex justify-content-center">

        <form class="row g-3" id="personaPOST">
            <div class="col-auto">
                <label for="nombre" class="visually-hidden">Nombre</label>
                <input type="text" class="form-control" id="nombre" placeholder="Nombre" required>
            </div>
            <div class="col-auto">
                <label for="apellido" class="visually-hidden">Apellido</label>
                <input type="text" class="form-control" id="apellido" placeholder="Apellido" required> 
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-3">Guardar Persona</button>
            </div>
        </form>
    </div>
    <hr>
    <main class="d-flex flex-column justify-content-center align-items-center">
        <textarea class="form-control" readonly style="height: 50vh; width: 60vw;" name="" id="respuesta"></textarea>

    </main>

</body>

</html>